.panel.panel-default
  %h2.hidey= t :bitcoin
  .panel-heading
    %strong#bitcoin
      <img src="img/bitcoin.png">
      Bitcoin (BTC)
  .panel-body
    %p= t :bitcoin_description

    %p= t :recurring_donation

    .donation
      %b
        To setup a recurring donation with Coinbase, login to your Coinbase account, click Tools, then click Recurring Transactions. Then click New Recurring Transaction, pick Send.
        <p>
        Then click the Generate button on our page below (where it says "Grab a new address"), use that address in the To box in Coinbase.
        <p>
        <p>
        If you know a better way to do this, please let us know!
    <br>
    %p= t :one_time_donation

    %table.table.donation
      %tr
        %td
          %b= t :grab_address
        %td
          %form(action="/new-address/btc" method="post")
            %input(type="submit" value="#{t :generate}")
        %td= t :non_segwit_description
      %tr
        %td
          %b
            = t :grab_address
            (SegWit)
        %td
          %form(action="/new-address/btc-segwit" method="post")
            %input(type="submit" value="#{t :generate}")
        %td= t :segwit_description

.panel.panel-default
  %h2.hidey= t :zcash
  .panel-heading
    %strong#zcash
      <img src="img/zcash.png">
      ZCash (ZEC)
  .panel-body
    %p= t :zcash_description
    .donation
       zs1evc3tqwjgyhjym6af9phgp99u8hq3cu9gk6znvm46wkp5hhrjdhg6dyy59a2l5ejp9vcvwu7989

.panel.panel-default
  %h2.hidey= t :monero
  .panel-heading
    %strong#monero
      <img src="img/monero.png">
      Monero (XMR)
  .panel-body
    %p= t :monero_description
    .donation
      46qB9tcR1feVZ7xq42tx8V8sLbYdnFdGf6EndL1fCPRuUXroufYGzzCFtZwrjkthAc8C65xBpmWCYAR1KKBXykF76GADvYE

.panel.panel-default
  %h2.hidey= t :faircoin
  .panel-heading
    %strong#faircoin
      <img src="img/faircoin.png">
      FairCoin (FAIR)
  .panel-body
    %p= t :faircoin_description
    .donation
      %form(action="/new-address/fair" method="post")
        %b= t :grab_address
        %input(type="submit" value="#{t :generate}")

.panel.panel-default
  %h2.hidey= t :bcash
  .panel-heading
    %strong#bcash
      <img src="img/bitcoin-cash.png">
      BCash (BCH)
  .panel-body
    %p= t :bcash_description
    .donation
      %form(action="/new-address/bch" method="post")
        %b= t :grab_address
        %input(type="submit" value="#{t :generate}")

