:javascript
  var regular_id = "BPFRUBU4TVYYS"
  var micro_id   = "94WVNL67BW6VN"
  function updatePaypal(form, field) {
    if (field.value < 11.90476) {
      form.business.value = micro_id
    } else {
      form.business.value = regular_id
    }
  }

%table.table.table-striped.table-condensed
  %tr
    %th= t(:donation_processor)
    %th= t(:supports_recurring_donations)
    %th= t(:supports_optional_registration)
    %th= t(:supports_credit_card)
    %th= t(:notes)
  %tr
    %td <a href="#bitcoin"><img src="img/bitcoin.png"></a>
    %td
      %b= t :yes_value
    %td
      %b= t :yes_value
    %td= t :no_value
    %td= t :bitcoin_note
  %tr
    %td <a href="#dwolla"><img src="img/dwolla.png"></a>
    %td
      %b= t :yes_value
    %td= t :no_value
    %td= t :no_value
    %td= t :dwolla_note
  %tr
    %td <a href="#paypal"><img src="img/paypal.png"></a>
    %td
      %b= t :yes_value
    %td
      %b= t :yes_value
    %td
      %b= t :yes_value
    %td= t :paypal_note
  %tr
    %td <a href="#flattr"><img src="img/flattr.png"></a>
    %td
      %b= t :yes_value
    %td= t :no_value
    %td
      %b= t :yes_value
    %td= t :flattr_note
  %tr

.panel.panel-default
  %h2.hidey= t :bitcoin
  .panel-heading
    <a name="bitcoin"><img src="img/bitcoin.png"></a>
  .panel-body
    %p= t :bitcoin_description

    %p= t :recurring_donation

    .donation
      %b
        Coinbase
        =t :subscribe
      %form(action="https://www.coinbase.com/checkouts/ac67a9014d25814aea2247e117cd0322" method="get" style="display: inline-block")
        %input(type="submit" value="$5 #{t :monthly}")
      %form(action="https://www.coinbase.com/checkouts/67c30cfa5a0ab3c64493c3af93a49482" method="get" style="display: inline-block")
        %input(type="submit" value="$10 #{t :monthly}")
      %form(action="https://www.coinbase.com/checkouts/88988e7908f6084533a17b72b6fa6ddd" method="get" style="display: inline-block")
        %input(type="submit" value="$15 #{t :monthly}")
      %form(action="https://www.coinbase.com/checkouts/d86c8d027328c26ef8d816d471032e31" method="get" style="display: inline-block")
        %input(type="submit" value="$20 #{t :monthly}")

    %p= t :one_time_donation

    .donation
      %form(action="https://help.riseup.net/new-bitcoin-address" method="post")
        %b= t :bitcoin_grab_address
        %input(type="submit" value="#{t :generate}")

.panel.panel-default
  %h2.hidey= t :dwolla
  .panel-heading
    <a name="dwolla"><img src="img/dwolla.png"></a>
  .panel-body
    %p= t :dwolla_description
    .donation
      %form(action="https://www.dwolla.com/u/812-574-3324" method="get")
        %b= t :dwolla
        %input(type="submit" value="#{t :donate}")

.panel.panel-default
  %h2.hidey= t :paypal
  .panel-heading
    <a name="paypal"><img src="img/paypal.png"></a>
  .panel-body      
    %p= t :paypal_description

    %p.h4= t :recurring_donation

    :plain
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_xclick-subscriptions">
        <input type="hidden" name="t3" value="M">
        <input type="hidden" name="src" value="1">
        <input type="hidden" name="sra" value="1">
        <input type="hidden" name="no_note" value="1">
        <input type="hidden" name="modify" value="1">
        <input type="hidden" name="business" value="BPFRUBU4TVYYS">
        <input type="hidden" name="item_name" value="riseup donation #{I18n.locale}">
        <div class="donation">
          <b>Paypal:</b>
          <select name="currency_code">
            <option value="USD">USD $</option>
            <option value="CAD">CAD $</option>
            <option value="GBP">GBP £</option>
            <option value="EUR">EUR €</option>
          </select>
          <input onchange="updatePaypal(this.form, this)" type="input" name="a3" value="15" size="6">
          <select name="p3">
            <option value="1">#{t :monthly}</option>
            <option value="3">#{t :quarterly}</option>
          </select>
          <input type="submit" name="submit" value="#{t :subscribe}">
        </div>
      </form>

    %p.h4{:style => 'margin-top: 10px'}= t :one_time_donation

    :plain
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_donations">
        <input type="hidden" name="item_name" value="riseup donation #{I18n.locale}">
        <input type="hidden" name="business" value="BPFRUBU4TVYYS">
        <div class="donation">
          <b>Paypal:</b>
          <select name="currency_code">
            <option value="USD">USD $</option>
            <option value="CAD">CAD $</option>
            <option value="GBP">GBP £</option>
            <option value="EUR">EUR €</option>
          </select>
          <input onchange="updatePaypal(this.form, this)" type="input" name="amount" value="50" size="6">
          <input type="submit" name="submit" value="#{t :donate}">
        </div>
      </form>

    %noscript
      %p.h4{:style => 'margin-top: 10px'}= t :micropayments
      %p= t :micropayments_note

      %p= t :recurring_donation

      :plain
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <input type="hidden" name="cmd" value="_xclick-subscriptions">
          <input type="hidden" name="t3" value="M">
          <input type="hidden" name="src" value="1">
          <input type="hidden" name="sra" value="1">
          <input type="hidden" name="no_note" value="1">
          <input type="hidden" name="modify" value="1">
          <input type="hidden" name="business" value="94WVNL67BW6VN">
          <input type="hidden" name="item_name" value="riseup donation #{I18n.locale}">
          <div class="donation">
            <b>Paypal:</b>
            <select name="currency_code">
              <option value="USD">USD $</option>
              <option value="CAD">CAD $</option>
              <option value="GBP">GBP £</option>
              <option value="EUR">EUR €</option>
            </select>
            <input type="input" name="a3" value="5" size="6">
            <select name="p3">
              <option value="1">#{t :monthly}</option>
              <option value="3">#{t :quarterly}</option>
            </select>
            <input type="submit" name="submit" value="#{t :subscribe}">
          </div>
        </form>

      %p= t :one_time_donation

      :plain
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <input type="hidden" name="cmd" value="_donations">
          <input type="hidden" name="item_name" value="riseup donation #{I18n.locale}">
          <input type="hidden" name="business" value="94WVNL67BW6VN">
          <div class="donation">
            <b>Paypal:</b>
            <select name="currency_code">
              <option value="USD">USD $</option>
              <option value="CAD">CAD $</option>
              <option value="GBP">GBP £</option>
              <option value="EUR">EUR €</option>
            </select>
            <input type="input" name="amount" value="5" size="6">
            <input type="submit" name="submit" value="#{t :donate}">
          </div>
        </form>

.panel.panel-default
  %h2.hidey= t :flattr
  .panel-heading
    <a name="flattr"><img src="img/flattr.png"></a>
  .panel-body
    %p= t :flattr_description
    .donation
      %form(action="https://flattr.com/thing/523584/Donate-to-Riseup" method="get")
        %b= t :flattr
        %input(type="submit" value="#{t :donate}")
