:javascript
  var regular_id = "BPFRUBU4TVYYS"
  var micro_id   = "94WVNL67BW6VN"
  function updatePaypal(form, field) {
    if (field.value < 11.90476) {
      form.business.value = micro_id
    } else {
      form.business.value = regular_id
    }
  }

.panel.panel-default
  %h2.hidey= t :paypal
  .panel-heading
    <a name="paypal"><img src="/about-us/donate/img/paypal.png"></a>
  .panel-body
    %p= t :paypal_description

    %p.h4= t :recurring_donation

    :plain
      <div class="donation">
        <p>To create a recurring payment, please enter your preferred donation and check the "Make this a monthly donation" box.</p>
        <p><strong>Paypal</strong>: 
          <a class="btn btn-default" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=L2YTN2ZUAVQMS&source=url">Donate in $ USD</a>
          <a class="btn btn-default" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=FB78SMHZQTYKS&source=url">Donate in € EUR</a>
          <a class="btn btn-default" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=RSTNQYGTAYTPQ&source=url">Donate in $ CAD</a>
          <a class="btn btn-default" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=274FMNGRE68QE&source=url">Donate in £ GBP</a>
        </p>
      </div>
      <br>

    %p.h4= t :one_time_donation

    :plain
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <div class="form-group">
          <input type="hidden" name="cmd" value="_donations">
          <input type="hidden" name="item_name" value="riseup donation #{I18n.locale}">
          <input type="hidden" name="business" value="BPFRUBU4TVYYS">
          <div class="donation">
            <b>Paypal:</b>
            <select name="currency_code">
              <option value="USD">USD $</option>
              <option value="CAD">CAD $</option>
              <option value="GBP">GBP £</option>
              <option value="EUR">EUR €</option>
            </select>
            <input onchange="updatePaypal(this.form, this)" type="input" name="amount" value="50" size="6">
            <input type="submit" name="submit" value="#{t :donate}">
          </div>
        </div>
      </form>

    %noscript
      %p.h4= t :micropayments
      %p= t :micropayments_note

      %p= t :recurring_donation

      :plain
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <div class="form-group">
            <input type="hidden" name="cmd" value="_xclick-subscriptions">
            <input type="hidden" name="t3" value="M">
            <input type="hidden" name="src" value="1">
            <input type="hidden" name="sra" value="1">
            <input type="hidden" name="no_note" value="1">
            <input type="hidden" name="modify" value="1">
            <input type="hidden" name="business" value="94WVNL67BW6VN">
            <input type="hidden" name="item_name" value="riseup donation #{I18n.locale}">
            <div class="donation">
              <b>Paypal:</b>
              <select name="currency_code">
                <option value="USD">USD $</option>
                <option value="CAD">CAD $</option>
                <option value="GBP">GBP £</option>
                <option value="EUR">EUR €</option>
              </select>
              <input type="input" name="a3" value="5" size="6">
              <select name="p3">
                <option value="1">#{t :monthly}</option>
                <option value="3">#{t :quarterly}</option>
              </select>
              <input type="submit" name="submit" value="#{t :subscribe}">
            </div>
          </div>
        </form>

      %p= t :one_time_donation

      :plain
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <div class="form-group">
            <input type="hidden" name="cmd" value="_donations">
            <input type="hidden" name="item_name" value="riseup donation #{I18n.locale}">
            <input type="hidden" name="business" value="94WVNL67BW6VN">
            <div class="donation">
              <b>Paypal:</b>
              <select name="currency_code">
                <option value="USD">USD $</option>
                <option value="CAD">CAD $</option>
                <option value="GBP">GBP £</option>
                <option value="EUR">EUR €</option>
              </select>
              <input type="input" name="amount" value="5" size="6">
              <input type="submit" name="submit" value="#{t :donate}">
            </div>
          </div>
        </form>
        
        
.panel.panel-default
  %h2.hidey= t :liberapay
  .panel-heading
    <a name="liberapay"><img src="/about-us/donate/img/liberapay.png"></a>
  .panel-body
    %p.h4= t :liberapay

    :plain
      <div class="donation">
      <p> Donations made via Liberapay can be by credit or debit card (Visa, MasterCard, American Express), or by direct debit of a Euro bank account (for donations in Euro only). Donations through Liberapay can be one-time or recurring. Liberapay is a non-profit subscription donation and payment service based on free software.</p> 
        <p><strong>Liberapay</strong>: 
          <a class="btn btn-default" href="https://liberapay.com/Riseup/donate">Donate</a>
          
        </p>
      </div>
      <br>

