#footer-inner
  .container
    .row
      .col-sm-12
        %div.footer-text
          .text-center
            = t(:footer_tagline)
          .text-center
            %ul.list-inline
              %li
                = link t(:link_support) => 'donate'
              %li
                = link t(:link_status) => "https://riseupstatus.net"
              %li
                = link t(:link_about_us) => "about-us"
              %li
                = link t(:link_privacy) => "privacy-policy"
          .text-center
            %a(href="https://github.com/riseupnet/riseup_help")= t :contribute_to_help
