#footer-inner
  .container
    .row
      .col-sm-12
        %div.footer-text
          .text-center
            = t(:footer_tagline)
          .text-center
            %ul.list-inline
              %li
                = link t(:link_support) => 'donate'
              %li
                = link t(:link_about_us) => "about-us"
              %li
                = link t(:link_privacy) => "privacy-policy"
              %li
                &bull;
              %li
                %a(href="https://lists.riseup.net/")= t :link_lists
              %li
                %a(href="https://mail.riseup.net/")= t :link_email
              %li
                %a(href="https://pad.riseup.net/")= t :link_pad
              %li
                %a(href="https://share.riseup.net/")= t :link_share
              %li
                %a(href="https://we.riseup.net/")= t :link_groups

          .text-center
            %a(href="https://github.com/riseupnet/riseup_help")= t :contribute_to_help
