!!!
%html{:lang => @locals[:locale].to_s}
  %head
    %title
      = @page.nav_title + ' - ' + @site.title
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %meta(charset="UTF-8")
    %link(rel="stylesheet" href="/assets/bootstrap.min.css")
    %link(rel="stylesheet" href="/assets/font-awesome/css/font-awesome.min.css")
    %link(rel="stylesheet" href="/assets/style.css")
    %link(rel="icon" href="/assets/images/favicon.png" type="image/x-icon")
    = html_head_base
  %body
    #wrap
      #masthead
        = render 'layouts/masthead'
      #main.container
        .row
          - if has_navigation?
            #sidebar.col-sm-3.col-md-2
              = render 'layouts/sidebar'
            .col-sm-9.col-md-10
              .shadow-box
                .title-box
                  = yield :title
                  - if @page.props.summary
                    .summary
                      = @page.props.summary
                .content-box
                  - if translation_missing?
                    .alert.alert-info= t(:missing_translation)
                  = yield :content
          - else
            .col-sm-12
              .shadow-box
                .title-box
                  = yield :title
                .content-box
                  = yield :content
    #footer
      = render 'layouts/footer'
