!!!
%html{:lang => @locals[:locale].to_s}
  %head
    %title
      = @page.nav_title + ' - ' + @site.title
    %meta(name="description" content="Riseup provides online communication tools for people and groups working on liberatory social change. We are a project to create democratic alternatives and practice self-determination by controlling our own secure means of communications.")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %meta(charset="UTF-8")

    %meta{:property => "og:title", :content => @page.nav_title + ' - ' + @site.title}
    %meta{:property => "og:type", :content => "website"}
    %meta{:property => "og:url", :content => "https://riseup.net" + amber_path(@page)}
    %meta{:property => "og:image", :content => "https://riseup.net/assets/images/riseup.net-inline.svg"}
    %meta{:property => "og:description", :content => "Riseup provides online communication tools for people and groups working on liberatory social change. We are a project to create democratic alternatives and practice self-determination by controlling our own secure means of communications."}

    %meta{:name => "twitter:card", :content => "summary_large_image"}
    %meta{:name => "twitter:site", :content => "@riseupnet"}
    %meta{:name => "twitter:title", :content => @page.nav_title + ' - ' + @site.title}
    %meta{:name => "twitter:image", :content => "https://riseup.net/assets/images/riseup.net-inline.svg"}
    %meta{:name => "twitter:description". :content => "Riseup provides online communication tools for people and groups working on liberatory social change. We are a project to create democratic alternatives and practice self-determination by controlling our own secure means of communications."}

    %link(rel="stylesheet" href="/assets/bootstrap.min.css")
    %link(rel="stylesheet" href="/assets/font-awesome-4.6.3/css/font-awesome.min.css")
    %link(rel="stylesheet" href="/assets/style.css")
    %link(rel="icon" href="/assets/images/favicon.png" type="image/x-icon")
    = html_head_base
  %body.home
    #wrap
      #masthead
        = render 'layouts/masthead'
      #main.container
        .row
          .col-sm-12
            .shadow-box
              .title-box
                .logo
                  .summary
                    = @page.var(:riseup_intro)
              .content-box
                .row
                  .col-sm-8
                    .locale-links
                      - available_languages.each do |name, code, url|
                        %a.label{:href => url, :class => (I18n.locale == code ? 'label-primary' : '')}= name
                    <br>
                    = render 'common/home_donate'
                    = yield :content
                  .col-sm-4
                    .feed
                      %h2= t(:system_updates)
                      = render 'common/news_feed'
    #footer
      = render 'layouts/footer'
