- @title = 'Dona a Riseup'
- @nav_title = 'Donate'
- @this.alias = '/donate'

%h1 ¡Ayuda a las alternativas radicales!

%img(src="donate/img/red-leap-medium.jpg" align="right")

%p Riseup trabaja sin descanso para crear tecnologías de base que se ocupen de las necesidades de comunicación de la gente y las organizaciones que trabajan por el cambio social. Cuando recibes un servicio de una empresa que no te cobra, lo más probable es que saquen dinero por vigilarte de forma intensiva. Riseup, en cambio, depende de las donaciones de sus usuarias y usuarios, que como tú, creen en el mantenimiento de alternativas democráticas.

%p Para más información sobre Riseup, puedes #{link 'conocer a nuestra gente' => 'about-us'} y echar un ojo a nuestros #{link 'proyectos' => 'projects'}. Riseup es una #{link "organización sin ánimo de lucro" => "https://help.riseup.net/about-us/donate/img/Riseup-Networks-Federal-Tax-Exemption-Notice.pdf"} registrada en la sección 501(c)(4) del Código de Rentas de los EE.UU.

%p Las donaciones a favor de riseup.net <b>no</b> pueden deducirse. Si quieres hacer una donación que pueda deducirse (en los EE.UU.),  #{ link 'colaborar con nuestra organización hermana, Riseup Labs' => 'donate-labs'}.

Si eres programador, puedes apoyar a Riseup #{link 'escribiendo código' => 'programmers-wanted'}.

%h2 Colaboraciones que proponemos

%ul
  %li <b>Individuales:</b> Pedimos que las personas que tengan cuentas de correo o listas donen de forma mensual o anual. Si eres insolvente, vives en áreas pobres o en lugares con monedas devaluadas, asumimos que no puedas hacer donaciones. Esto significa que aquellos que tengan recursos económicos deberían contribuir en mayor medida como acto solidario. Si no sabes con cuánto colaborar, ¿nos dejas que te sugiramos unos 5 o 15 dólares/euros al mes? Si crees que puedes colaborar con un importe mayor, ¡te estaríamos muy agradecidos!
  %li <b>Grupos:</b> Confiamos en que las organizaciones con cuentas de correo colaboren. Es especialmente importante que las organizaciones con grandes listas de correo contribuyan, en cuanto a que esas listas son muy costosas de mantener. A grandes rasgos, pedimos que las organizaciones colaboren anualmente con al menos un 1% de su presupuesto. Esto significaría que organizaciones con un presupuesto de unos 10.000 dólares/euros aportaría unos 100 dólares/euros al año.

%p Si tienes una lista grande, con más de un centenar de suscriptores o con un gran tráfico y muchos archivos, aumenta varias veces las cantidades propuestas.

%p Por favor, considera hacer una donación mayor si puedes permitírtelo. Todo el dinero que nos sobra después de cubrir los gastos básicos se guarda para poder dar servicio a más usuarios. Si vas a hacer una donación considerable (¡gracias!), por favor, plantéate enviarlo a través de un cheque o una transferencia ya que los sistemas de pago online se llevarían en torno al 3%.

%p Todas las decisiones financieras del <b>Colectivo Riseup</b> se toman de forma asamblearia.

%h1 Donaciones por vía postal

%p Envíanos tu cheque o transferencia a nombre de "Riseup Networks" a esta dirección:

.donation
  Riseup Networks<br>
  PO Box 4282<br>
  Seattle, WA 98194 USA

%p Desafortunadamente, no tenemos capacidad para enviarte una carta de agradecimiento cuando recibimos tu donación. Tienes que saber que te estamos increíblemente agradecidos: tu ayuda es nuestra alma y hace posible todo este duro trabajo. ¡Te adoramos por poner tu dinero en el mismo bando de tus ideales! <b>Nota:</b> Estamos legalmente obligados a proporcionar la identidad de aquellas personas que donen más de 5.000 USD.

%h1 Donaciones online

%table.table.table-striped.table-condensed
  %tr
    %th Gestor
    %th donaciones periódicas?
    %th Registro obligatorio?
    %th Tarjeta de crédito?
    %th Notas
  %tr
    %td <a href="#bitcoin"><img src="donate/img/bitcoin.png"></a>
    %td No
    %td <b>No</b>
    %td No
    %td Cripto-moneda electrónica descentralizada de igual a igual.
  %tr
    %td <a href="#dwolla"><img src="donate/img/dwolla.png"></a>
    %td <b>Sí</b>
    %td Sí
    %td No
    %td Honorarios muy bajos. Necesita registro y una cuenta bancaria de EE.UU.
  %tr
    %td <a href="#paypal"><img src="donate/img/paypal.png"></a>
    %td <b>Sí</b>
    %td <b>No</b>
    %td <b>Sí</b>
    %td Funciona desde muchos paises.
  %tr
    %td <a href="#wepay"><img src="donate/img/wepay.png"></a>
    %td <b>Sí</b>
    %td <b>No</b>
    %td <b>Sí</b>
    %td Una alternativa a PayPal.
  %tr
    %td <a href="#flattr"><img src="donate/img/flattr.png"></a>
    %td No
    %td Sí
    %td <b>Sí</b>
    %td Micropagos.
  %tr
    %td <a href="#gittip"><img src="donate/img/gittip.png"></a>
    %td <b>Sí</b>
    %td Sí
    %td <b>Sí</b>
    %td Micropagos periódicos.

.panel.panel-default
  .panel-heading
    <a name="bitcoin"><img src="donate/img/bitcoin.png"></a>
  .panel-body
    %p #{link 'Bitcoin' => 'http://www.bitcoin.org'} es una #{link 'cripto-moneda' => 'http://en.wikipedia.org/wiki/Bitcoin'} electrónica descentralizada de igual a igual. Bitcoin es también una manera gratuita de enviar dinero al extranjero.

    %p Si quieres usar Bitcoin para enviar dinero a Riseup generaremos una dirección única y original para que la uses en esta donación. Simplemente pulsa en el botón de abajo para obtener esa dirección bitcoin.

    .donation
      %form(action="https://help.riseup.net/en/new-bitcoin-address" method="post")
        <b>Obten una dirección bitcoin:</b>
        %input(type="submit" value="Generar")

.panel.panel-default
  .panel-heading
    <a name="dwolla"><img src="donate/img/dwolla.png"></a>
  .panel-body
    %p Dwolla es un método realmente barato para enviar dinero virtual, de todas formas, es necesario que crees una cuenta en Dwolla vinculada a una cuenta bancaria en los EE.UU. Dwolla es compatible con donaciones periódicas.

    .donation
      %form(action="https://www.dwolla.com/u/812-574-3324" method="get")
        <b>Dwolla:</b>
        %input(type="submit" value="Donar")

.panel.panel-default
  .panel-heading
    <a name="paypal"><img src="donate/img/paypal.png"></a>
  .panel-body
    %p Paypal acepta tarjetas de crédito y es compatible con donaciones periódicas (para donaciones periódicas, es necesario una cuenta PayPal).

    %p Donaciones periódicas:

    :plain
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_xclick-subscriptions">
        <input type="hidden" name="t3" value="M">
        <input type="hidden" name="src" value="1">
        <input type="hidden" name="sra" value="1">
        <input type="hidden" name="no_note" value="1">
        <input type="hidden" name="modify" value="1">
        <input type="hidden" name="business" value="BPFRUBU4TVYYS">
        <input type="hidden" name="item_name" value="riseup donation">
        <div class="donation">
          <b>Paypal:</b>
          <select name="currency_code">
            <option value="USD">USD $</option>
            <option value="CAD">CAD $</option>
            <option value="GBP">GBP £</option>
            <option value="EUR">EUR €</option>
          </select>
          <input type="input" name="a3" value="10" size="6">
          <select name="p3">
            <option value="1">Mensual</option>
            <option value="3">Trimestral</option>
          </select>
          <input type="submit" name="submit" value="Donar">
        </div>
      </form>

    %p Donaciones únicas:

    :plain
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_donations">
        <input type="hidden" name="item_name" value="riseup donation">
        <input type="hidden" name="business" value="BPFRUBU4TVYYS">
        <div class="donation">
          <b>Paypal:</b>
          <select name="currency_code">
            <option value="USD">USD $</option>
            <option value="CAD">CAD $</option>
            <option value="GBP">GBP £</option>
            <option value="EUR">EUR €</option>
          </select>
          <input type="input" name="amount" value="25" size="6">
          <input type="submit" name="submit" value="Donar">
        </div>
      </form>

.panel.panel-default
  .panel-heading
    <a name="wepay"><img src="donate/img/wepay.png"></a>
  .panel-body
    %p WePay es una buena alternativa a PayPal. Puedes usar WePay sin necesidad de registrarte y es acepta tarjetas de crédito.

    .donation
      :plain
        <form action="https://www.wepay.com/donate/riseup" method="get">
          <b>WePay:</b>
          <input type="submit" value="Donar">
        </form>

.panel.panel-default
  .panel-heading
    <a name="flattr"><img src="donate/img/flattr.png"></a>
  .panel-body
    %p Flattr es un sistema de micropagos que te permite ayudar a muchos proyectos.

    .donation
      %form(action="http://flattr.com/thing/523584/Donate-to-Riseup" method="get")
        <b>Flattr:</b>
        %input(type="submit" value="Donar")

.panel.panel-default
  .panel-heading
    <a name="gittip"><img src="donate/img/gittip.png"></a>
  .panel-body
    %p Gittip es otro sistema de micropagos que te permite hacer donaciones semanales a los proyectos que te gusten.

    .donation
      %form(action="https://www.gittip.com/riseup.net" method="get")
        <b>Gittip:</b>
        %input(type="submit" value="Donar")

= render 'faq'
